# MoviesHouse PRO Direct File-to-Link Bot Configuration
BOT_TOKEN=8844186435:AAEQ3EgwIzFut6XdCc-u8_Gc0qn_xsNOd5s
API_ID=38319323
API_HASH=c171e3cfd6fc5c724cda63b0dbcf81d2
MONGO_URI=mongodb+srv://moviesbot:12345@cluster0.nhnd1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=movieshouse_bot
BASE_URL=http://222.167.207.30:5050
CHANNEL_URL=https://t.me/movieshouseworld
CHANNEL_ID=@movieshouseworld
ADMIN_IDS=1785600474,1855042026
